In [11]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [12]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Padang,ID,2021-04-21 05:57:26,-0.9492,100.3543,87.80,70,20,6.91
1,1,Rikitea,PF,2021-04-21 05:52:51,-23.1203,-134.9692,77.05,75,73,4.61
2,2,Saint-Denis,FR,2021-04-21 05:57:27,48.9167,2.3333,48.00,87,73,1.14
3,3,Busselton,AU,2021-04-21 05:57:27,-33.6500,115.3333,71.01,64,0,3.00
4,4,Kaitangata,NZ,2021-04-21 05:57:28,-46.2817,169.8464,55.00,86,68,7.00

In [13]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(25.0, 35.0), zoom_level=1.25)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Padang,ID,2021-04-21 05:57:26,-0.9492,100.3543,87.80,70,20,6.91
1,1,Rikitea,PF,2021-04-21 05:52:51,-23.1203,-134.9692,77.05,75,73,4.61
15,15,Lucea,JM,2021-04-21 05:57:33,18.4510,-78.1736,78.80,65,20,2.30
19,19,Gizo,SB,2021-04-21 05:57:34,-8.1030,156.8419,84.92,69,89,1.39
29,29,Avarua,CK,2021-04-21 05:57:39,-21.2078,-159.7750,75.20,88,90,11.50
35,35,Atuona,PF,2021-04-21 05:55:22,-9.8000,-139.0333,80.22,78,26,20.94
37,37,Hilo,US,2021-04-21 05:57:42,19.7297,-155.0900,75.20,69,75,4.61
43,43,Carnarvon,AU,2021-04-21 05:57:44,-24.8667,113.6333,84.20,51,30,9.22
47,47,Odweyne,SO,2021-04-21 05:57:46,9.4092,45.0640,78.91,51,62,11.10
49,49,Namatanai,PG,2021-04-21 05:57:47,-3.6667,152.4333,83.73,73,86,9.86

In [31]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [32]:
preferred_cities_df.notnull().sum()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [34]:
preferred_cities_df.count()

City_ID       153
City          153
Country       153
Date          153
Lat           153
Lng           153
Max Temp      153
Humidity      153
Cloudiness    153
Wind Speed    153
dtype: int64

In [35]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0      Padang      ID     87.80  -0.9492  100.3543
1     Rikitea      PF     77.05 -23.1203 -134.9692
15      Lucea      JM     78.80  18.4510  -78.1736
19       Gizo      SB     84.92  -8.1030  156.8419
29     Avarua      CK     75.20 -21.2078 -159.7750
35     Atuona      PF     80.22  -9.8000 -139.0333
37       Hilo      US     75.20  19.7297 -155.0900
43  Carnarvon      AU     84.20 -24.8667  113.6333
47    Odweyne      SO     78.91   9.4092   45.0640
49  Namatanai      PG     83.73  -3.6667  152.4333

In [36]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [57]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [59]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Padang,ID,87.80,-0.9492,100.3543,Mercure Padang
1,Rikitea,PF,77.05,-23.1203,-134.9692,Pension Maro'i
15,Lucea,JM,78.80,18.4510,-78.1736,Grand Palladium Jamaica Resort & Spa
19,Gizo,SB,84.92,-8.1030,156.8419,Imagination Island
29,Avarua,CK,75.20,-21.2078,-159.7750,Paradise Inn
...,...,...,...,...,...,...
533,Qui Nhon,VN,83.98,13.7667,109.2333,Hoang Yen Canary Hotel
537,Vanimo,PG,82.62,-2.6741,141.3028,Vahmoneh Lodge Vanimo
540,Boa Vista,BR,77.00,2.8197,-60.6733,Aipana Plaza Hotel
541,Isla Mujeres,MX,80.60,21.2311,-86.7310,Hotel La Joya Isla Mujeres
544,Faanui,PF,81.97,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [61]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [63]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [64]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))