In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)
lat_lngs

In [3]:
# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [4]:
from citipy import citipy

In [5]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

606

In [6]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

In [7]:
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=bb2df3c062286956a2fc5999fd2dcf12

In [8]:
# Import the datetime module from the datetime library.
from datetime import datetime

In [ ]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | tongzhou
Processing Record 2 of Set 1 | rikitea
Processing Record 3 of Set 1 | mayumba
Processing Record 4 of Set 1 | san estanislao
Processing Record 5 of Set 1 | saint george
Processing Record 6 of Set 1 | ushuaia
Processing Record 7 of Set 1 | nguiu
City not found. Skipping...
Processing Record 8 of Set 1 | bredasdorp
Processing Record 9 of Set 1 | atuona
Processing Record 10 of Set 1 | qiongshan
Processing Record 11 of Set 1 | grand forks
Processing Record 12 of Set 1 | sioux lookout
Processing Record 13 of Set 1 | karakendzha
City not found. Skipping...
Processing Record 14 of Set 1 | wangdiphodrang
City not found. Skipping...
Processing Record 15 of Set 1 | high rock
Processing Record 16 of Set 1 | kashi
Processing Record 17 of Set 1 | evensk
Processing Record 18 of Set 1 | barrow

In [48]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Shimoda,34.6667,138.9500,64.40,63,0,5.75,JP,2021-04-20 01:25:31
1,San Vicente,-26.6167,-54.1333,60.98,67,0,3.24,AR,2021-04-20 01:25:31
2,Gerardmer,48.0735,6.8779,44.60,87,75,5.75,FR,2021-04-20 01:25:32
3,Qaanaaq,77.4840,-69.3632,-0.54,77,99,7.27,GL,2021-04-20 01:25:32
4,Deputatskiy,69.3000,139.9000,14.86,89,100,3.76,RU,2021-04-20 01:25:32
5,Rikitea,-23.1203,-134.9692,78.10,72,4,9.28,PF,2021-04-20 01:25:33
6,Tuktoyaktuk,69.4541,-133.0374,26.60,86,40,6.91,CA,2021-04-20 01:25:33
7,Busselton,-33.6500,115.3333,62.01,88,89,1.01,AU,2021-04-20 01:25:34
8,Palaikastron,35.2000,26.2500,58.08,69,15,19.73,GR,2021-04-20 01:25:34
9,Jamestown,42.0970,-79.2353,51.01,87,90,6.91,US,2021-04-20 01:25:35

In [49]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_column_order]

In [57]:
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Shimoda,JP,2021-04-20 01:25:31,34.6667,138.9500,64.40,63,0,5.75
1,San Vicente,AR,2021-04-20 01:25:31,-26.6167,-54.1333,60.98,67,0,3.24
2,Gerardmer,FR,2021-04-20 01:25:32,48.0735,6.8779,44.60,87,75,5.75
3,Qaanaaq,GL,2021-04-20 01:25:32,77.4840,-69.3632,-0.54,77,99,7.27
4,Deputatskiy,RU,2021-04-20 01:25:32,69.3000,139.9000,14.86,89,100,3.76
...,...,...,...,...,...,...,...,...,...
526,Monrovia,LR,2021-04-20 01:29:08,6.3005,-10.7969,77.00,94,40,6.17
527,Sikeston,US,2021-04-20 01:29:08,36.8767,-89.5879,62.60,45,1,4.61
528,Veraval,IN,2021-04-20 01:29:09,20.9000,70.3667,78.57,84,96,11.95
529,Vargem Grande,BR,2021-04-20 01:29:09,-3.5431,-43.9158,71.08,99,100,2.46
530,Gorele,TR,2021-04-20 01:29:10,41.0308,39.0031,64.40,68,75,1.14

In [60]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")